@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  min-width: 0;
}

a {
  text-decoration: none;
}

button, a {
  cursor: pointer;
  transition: filter 0.2s;
}

button:hover, a:hover {
  filter: brightness(0.9);
}

button:active, a:active {
  transform: scale(.97);
}